.app-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  margin-bottom: 2rem;
}

.app-header h1 {
  font-size: 1.4rem;
  cursor: pointer;
}

.app-header button {
  font-size: 1.1rem;
  background-color: rgba(30, 143, 255, 0.85);
  color: var(--light-white-text);
  padding: 0.2rem;
  border-radius: 3px;
  border: none;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.app-header button:disabled {
  background-color: rgba(22, 64, 107, 0.85);
}

.app-header button:last-of-type {
  margin-left: 1rem;
}
