.search {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  background-color: white;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding-top: 1rem;
}

.search-container button {
  margin-bottom: 1rem;
  background-color: dodgerblue;
  color: white;
}

.search-container .player-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-container .player-list button {
  margin-bottom: 0.2rem;
  font-size: 1.5rem;
  background-color: white;
  color: black;
}

.search-container .player-list button:hover {
  background-color: dodgerblue;
  color: white;
}

.search-container label {
  margin-bottom: 0.5rem;
}

.search-container input {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
}
