.team-select .division-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team-select .home_team-select {
  height: inherit;
}

.team-select .team-select-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: var(--light-bg-darker);
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.119);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.119);
}

.team-select .team-select-team h2 {
  font-weight: normal;
}

.team-select .team-select-team.even {
  background-color: var(--light-bg-darker);
}

.team-select .img-container {
  margin-bottom: 0.5rem;
}

.team-select .img-container img {
  -webkit-filter: var(--light-logo-dropshadow);
          filter: var(--light-logo-dropshadow);
}

.team-select .link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-select .link-container .icon {
  font-size: 1.5rem;
  background-color: rgba(30, 143, 255, 0.85);
  color: var(--light-white-text);
  padding: 0.2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
