.teamcode_team-info {
  background-color: var(--light-bg-darker);
  padding: 1rem;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.119);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.119);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.teamcode_team-info h2 {
  margin-bottom: 0.5rem;
}

.teamcode_team-info img {
  -webkit-filter: drop-shadow(1px 1px 1px #8f8f8f);
          filter: drop-shadow(1px 1px 1px #8f8f8f);
}
