.teamcode_team-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

.teamcode_team-info h2 {
  margin-bottom: 0.5rem;
}

.teamcode_team-info img {
  -webkit-filter: drop-shadow(1px 1px 1px #8f8f8f);
          filter: drop-shadow(1px 1px 1px #8f8f8f);
}
