.team-select .division-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team-select .home_team-select {
  height: inherit;
  overflow-y: scroll;
}

.team-select .team-select-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 5px;
}

.team-select .team-select-team.even {
  background-color: #ececec;
}

.team-select .img-container {
  margin-bottom: 0.5rem;
}

.team-select .img-container img {
  -webkit-filter: drop-shadow(1px 1px 1px #0000006e);
          filter: drop-shadow(1px 1px 1px #0000006e);
}

.team-select a {
  color: white;
  background-color: dodgerblue;
  padding: 0.1rem 0.5rem;
  border-radius: 3px;
}
